.header1{
    margin-bottom: 80px;   
}
.header1 img{
    width: 100%;
}
.habc{
    color: dodgerblue;
}
.p123{
    text-align: center;
    color: darkturquoise;
}
.p456{
    color: #c30ebc;
    text-align: center;
}
.hdef{
    color: darkmagenta;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}
.abc{
    color: #378fe6;
    text-align: center;
    font-size: 50px;
}
.a1{
    color: aqua;
}
.a2{
    color: cadetblue
}
.b1{
    color: brown
}
.c1{
    color: darkmagenta
}