.header1{
    margin-bottom: 80px;   
}
.header1 img{
    width: 100%;
}
.habc{
    color: dodgerblue;
}
.p123{
    text-align: center;
    color: darkturquoise;
}
.p456{
    color: #c30ebc;
    text-align: center;
}
.hdef{
    color: darkmagenta;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}